<html>
  <head>
    <meta charset="utf-8" />
    <title>Game</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body>
    <div class="rect">
      <button type="button" class="button" id="1" OnClick="clicked('1');">Click</button>
      <button type="button" class="button" id="2" OnClick="clicked('2');">Click</button>
      <button type="button" class="button" id="3" OnClick="clicked('3');">Click</button>
      <button type="button" class="button" id="4" OnClick="clicked('4');">Click</button>
    </div>
    <br>
    <button type="button" class="playButton" id="5" OnClick="play();">Play</button>
    <script src="./scripts/scripts.js"></script>
  </body>
</html>